# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore Git-related files
.git/
.gitignore

# Ignore unnecessary system files
.DS_Store
Thumbs.db

# Ignore Terraform state files (if applicable)
*.tfstate
*.tfstate.backup
